@import url('https://fonts.google.com/specimen/Sen');

@font-face {
    src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2") format("woff2");
    font-family: "Meta";
    font-style: normal;
    font-weight: normal;
}

h1 {
    font-size: 18px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    padding: 10px;
    text-decoration: none;
}

.button {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 10px;
}

.button:hover {
    transform: scale(1.05) rotate(-1deg);
}

.button1 {
    background-color: #acbafa;
    border-radius: 100px;
    box-shadow: rgba(65, 44, 187, 0.2) 0 -25px 18px -14px inset, rgba(65, 44, 187, 0.2) 0 1px 2px, rgba(65, 44, 187, 0.2) 0 2px 4px, rgba(65, 44, 187, 0.2) 0 4px 8px, rgba(65, 44, 187, 0.2) 0 8px 16px, rgba(65, 44, 187, 0.2) 0 16px 32px;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 5px;
}

.button1:hover {
    transform: scale(1.05) rotate(1deg);
}

.coolAnimation {
    transition: all 0.5s;
    -webkit-text-stroke: 4px #d6f4f4;
    font-variation-settings: "wght"900, "ital"1;
    font-size: 8rem;
    text-align: left;
    text-transform: uppercase;
    color: transparent;
    font-family: "Meta", sans-serif;
    size-adjust: .5;
}

.coolAnimation:hover {
    font-variation-settings: "wght"100, "ital"0;
    text-shadow: none;
}

h1 {
    font-size: 1.5rem;
    color: white
}

body {
    background-image: linear-gradient(-45deg, #edacff, #777fee, #a577ee, #7777ee, #594dc8);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

label {
    display: inline-block;
    width: 80px;
    text-align: right;
    padding: 1px;
    color: white;
}

input {
    display: inline-block;
    color: black;
}

.inputBox {
    align-items: left;
}