{% extends 'base.html' %}

{% block head %}
<title>Chat Page</title>
{% endblock %}

{% block body %}
<div class="alignLeft">
    <h1>Logged in as</h1>
    <h1 id="usernameForAjax" class="coolAnimation makeSmaller">User: {{ user.username }} </h1>
    <h1 class="coolAnimation makeSmaller">Chat Page</h1><br>
</div>

<!-- MESSAGE BOX HERE -->
<form id="message_submit">
    <label class="coolAnimation makeSmaller" for="message">Chat: </label><br>
    <textarea class="message" name="message" id="message" cols="30" rows="10"></textarea>
    <input id="author" type="hidden" name="author" value="{{ user.username }}">
    <br>
    <button id="new_message_submit" type="submit" form="message_submit">Send</button>
</form>

<!-- CHAT BOX HERE -->
<label for="chat_window" class="coolAnimation makeSmaller alignLeft" id="chat_window_layout">Chat Window: </label>
<div name="chat_window" id="chat_window">
    {% for chat in chats %}
    <p>{{ chat.author }}: {{ chat.message }}</p>
    {% endfor %}
</div>

<!-- LOGIN PAGE REF -->
<a class="button changeColor" href="/login/">Logout Page</a>

<br>
<br>
<!-- iterate through DB using jinja templates and display the blogTitle and blogAuthors if any on the index page -->
{% endblock %}