{% extends 'base.html' %}

{% block head %}
<title>Login Page</title>
{% endblock %}

{% block body %}
<div class="alignLeft">
    <h1 class="coolAnimation">Login</h1>
    <label for="username">Username: </label>
    <input class="inputBox" type="text" name="username" id="username">
    <br>
    <label for="password">Password: </label>
    <input class="inputBox" type="password" id="password" name="password">
    <br>
    <button class="button">Login</button>
    <a class="button1" href="/register">Register</a>
</div>
<br>
<br>
<!-- iterate through DB using jinja templates and display the blogTitle and blogAuthors if any on the index page -->
{% endblock %}