{% extends 'base.html' %}

{% block head %}
<title>Register Page</title>
{% endblock %}

{% block body %}
<form action="/register/" method="POST">
    <div class="alignLeft">
        <h1 class="coolAnimation">Register</h1>
        <label for="username">Username: </label>
        <input class="inputBox" type="text" name="username">
        <br>
        <label for="email">Email: </label>
        <input class="inputBox" type="email" name="email">
        <br>
        <label for="password">Password: </label>
        <input class="inputBox" type="text" name="password">
        <br>
        <label for="rePassword">Password: </label>
        <input class="inputBox" type="text" name="repassword">
        <br>
        <a class="button" href="/">Already A User</a>
        <input class="button1" type="submit" value="Register">
        <p> If the page is refreshing on register is because password do not match</p>
    </div>
</form>

<br>
<br>
<!-- iterate through DB using jinja templates and display the blogTitle and blogAuthors if any on the index page -->
{% endblock %}